<% @page_title = "Employee-List" %>
<div class="row">
  <h2>E-priSe Employee</h2>  
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Phone</th>
          <th>Job Type</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.phone %></td>
            <td><%= employee.job_type %></td>
            <td><%= link_to 'Show', employee, class: 'btn btn-mini btn-info' %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-mini btn-warning' %></td>
            <td><%= link_to 'Destroy', employee, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<hr>

<%= link_to 'New Employee', new_employee_path, class: 'btn btn-mini btn-success' %> 