<div class="row">
  <%= form_for @purchase, html: { class: 'form-horizontal' } do |f| %>
    <% if @purchase.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
  
        <ul>
        <% @purchase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :category %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :quantity, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :quantity %>
      </div>
    </div>
     <div class="control-group">
      <%= f.label :invoice, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :invoice %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>