<% @page_title = "Purchase-List" %>
<div class="row">
  <h2>E-priSe Purchases</h2>
 
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= purchase.name %></td>
            <td><%= purchase.category %></td>
            <td><%= purchase.quantity %></td>
            <td><%= link_to 'Show', purchase, class: 'btn btn-mini btn-info' %></td>
            <td><%= link_to 'Edit', edit_purchase_path(purchase), class: 'btn btn-mini btn-warning' %></td>
            <td><%= link_to 'Destroy', purchase, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Purchase', new_purchase_path, class: 'btn btn-mini btn-success' %>