<% @page_title = "Company | Show" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @company.manager %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @company.status %>
</p>
<p>
  <strong>Salesperson:</strong>
  <%= @company.terms %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
