<!DOCTYPE html>
<html>
<head>
  <title>E-pri$e  | <%= @page_title || "Admin" %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	
<body>

<%= link_to "Home", 		root_path  %>
<%= link_to "About Us", welcome_about_path  %>
<%= link_to "Contacts", welcome_contact_path  %>
<%= link_to "Features", welcome_features_path %>
<%= link_to "FAQ's", 		welcome_faq_path %>
<%= link_to "Pricing", 	welcome_pricing_path %>
<%= link_to "LOG IN", 	root_path %>

<%= link_to "Invoice$", invoices_path %>


<%= yield %>

</body>
</html>
